* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-900: #241722;
  --dark-800: #352432;
  --dark-700: #462730;
  --dark-600: #462730;
  --primary: #F25551;
  --second-200: #FEEDE1;
  --second-100: #FFFBFF;
  --green-gradient: #50F283;

  --fonte-padrao: 400 normal 18px "Poppins", sans-serif;
  --fonte-maior:  600 normal 24px "Poppins", sans-serif;
  --fonte-maior-400: 400 normal 24px "Poppins", sans-serif;
}

.body {
  background-color: var(--dark-900);
}

/* Estilo da tela de listas */

.tela__listas {
  display: block;
}

.header__to_do_inicial {
  display: flex;
  flex-direction: row;
  margin: 3rem 3rem 0rem;
}

.separacao__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.to__do_inicial {
  font: var(--fonte-maior);
  color: var(--second-100);
}


.botao__criar_lista {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--dark-900);
  border: var(--primary);
  border-radius: 2rem;
  padding: 1rem;
  align-self: flex-end;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: #f254513d;
    box-shadow: 0 0 10px #f2545127;
  }
}


.p__botao_adicao_list {
  font: var(--fonte-padrao);
  color: var(--primary);
}

.header__linha {
  width: 95%;
  margin: 0 auto;
  height: 2px;
  background: var(--dark-700);
  border-radius: 2px; 
}

.lista__item {
  margin: 2rem;
  list-style: none;
  display: flex;
}

.botao__li_seta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--dark-900);
  border: var(--dark-900);
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.45);
  padding: 1rem;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;


  &:hover{
    cursor: pointer;
    background-color: #35243285;
    box-shadow: 0 0 4px #3524329a
  }
}

.lista__botao_lixeira {
  background-color: #632329;
  width: 0.75rem; 
  overflow: hidden;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;

    &:hover {
      width: 2.5rem;
    }
}

.lista__lixeira {
  width: 1.25rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  
  &:hover {
    opacity: 1;
  }
}


.conteudo__lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  font: var(--fonte-padrao);
  color: var(--second-200);
}

.input__nome_lista {
  background: none;
  border: none;
  padding: 0.5rem;
  font: var(--fonte-padrao);
  color: var(--second-200);

  &::placeholder {
    color: var(--second-200);
    opacity: 0.5; 
  }
}

/* Estilos da tela do To-Do */

.tela__to_dos {
  display: none;
}

.section__listas {
  display: flex;
  flex-direction: column;
}

.mensagem__vazia {
  padding-top: 8rem;
  margin: 0 auto;
}


.p__mensagem_vazia {
  font: var(--fonte-maior-400);
  color: var(--second-200);
  text-align: center;
  margin: 0.5rem;
}

.titulo__lista_todos {
  font: var(--fonte-maior);
  color: var(--second-200);
}

.botao__criar_to_do {
    display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--dark-900);
  border: var(--primary);
  border-radius: 2rem;
  padding: 1rem;
  align-self: flex-end;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: #f254513d;
    box-shadow: 0 0 10px #f2545127;
  }
}

.div__botao_voltar {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.img__voltar {
  width: 2.6rem;
}

.botao__voltar {
  background-color: var(--dark-900);
  border: var(--primary);
  border-radius: 2.6rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;

    &:hover {
      cursor: pointer;
      background-color: #f254513d;
      box-shadow: 0 0 12px #f2545127;
  }
}


.li__to_do {
  margin: 2rem;
  list-style: none;
  display: flex;
}

.botao__to_do {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark-800);
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

      &:hover{
    cursor: pointer;
    background-color: var(--dark-700);
    box-shadow: 0 0 4px var(--dark-700);
  }
}

.div__li_to_do {
  padding: 0.25rem;
  display: flex;
  gap: 1.25rem;
  margin-left: 1.5rem;
  width: 100%;
}

.checkbox__to_do {
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid transparent;
  border-radius: 6px;
  background: linear-gradient(var(--dark-800)) padding-box,
              linear-gradient(135deg, #632329, #F25551, #50F283) border-box;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.checkbox__to_do:hover {
  transform: scale(1.15);
}

/* quando marcado */
.checkbox__to_do:checked {
  background: linear-gradient(var(--dark-800)) padding-box,
              linear-gradient(135deg, #50F283, #F25551, #632329) border-box;
}

/* ícone de "check" */
.checkbox__to_do:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 14px;
  border: solid #50F283; 
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}

.input__to_do {
  background: none;
  border: none;
  width: 35%;
  font: var(--fonte-padrao);
  color: var(--second-200);

  &::placeholder {
    color: var(--second-200);
    opacity: 0.5; 
  }
}

.to__do_lixeira {
  margin-right: 1rem;
}

.prioridade-baixa { border-left: 5px solid green; }
.prioridade-media { border-left: 5px solid orange; }
.prioridade-alta { border-left: 5px solid red; }




