* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-900: #241722;
  --dark-800: #352432;
  --dark-700: #462730;
  --dark-600: #462730;
  --primary: #F25551;
  --second-200: #FEEDE1;
  --second-100: #FFFBFF;
  --green-gradient: #50F283;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.body {
  background-color: var(--dark-900);
}

.header__to_do_inicial {
  display: flex;
  flex-direction: row;
  margin: 4.5rem 3rem 0.5rem;
}

.separacao__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.to__do_inicial {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: var(--second-100);
}


.botao__criar_lista {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--dark-900);
  border: none;
  align-self: flex-end;
}

.p__botao_adicao_list {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary);
  font-size: 18px;
}

.header__linha {
  width: 95%;
  margin: 0 auto;
  height: 2px;
  background: var(--dark-700);
  border-radius: 2px; 
}

.lista__item {
  margin: 2rem;
  list-style: none;
}

.botao__li_seta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--dark-900);
  border: var(--dark-900);
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.45);
  padding: 1rem;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.conteudo__lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.input__nome-lista {
  background: none;
  border: none;
  padding: 0.5rem;

  &::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--second-200);
  }
}

.section__listas {
  display: flex;
  flex-direction: column;
}

.mensagem__lista_vazia {
  padding-top: 8rem;
  margin: 0 auto;
}


.p__mensagem_lista_vazia {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--second-200);
  text-align: center;
  margin: 0.5rem;
}

